:root {
  --light: #fffffc;
  --dark: #202c59;
  --grey: #4c5b5c;
  --primary: #ff7f11;
  --alert: #ff1e2d;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: baseline;
  font-size: calc(10px + 2vmin);
  color: var(--dark);
}

.App-header  h1{
  position: relative;
}

.App-header  h1 span{
  position: absolute;
  bottom: -0.8rem;
  left: 0.2rem;
  font-size: 40%;
}

.App-header progress{
  margin: 0.5rem 0;
  border-radius: 21rem;
}

.App-header .chooserBox{
  display: flex;
  align-items: center;
  margin: 0.35rem 0rem 1.5rem;
}
.App-header .photo-grid {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 32%);
  justify-content: space-between;
}

.App-header img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}